body{
    background-color: rgb(255, 171, 210);
}
img{
    width: 80px;
    height: 80px;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
    
    font-size: xxx-large;
}
#page{
    margin: auto;
    width: fit-content;
    border: 3px solid rgb(16, 20, 16);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
button{
    background-color: rgb(240, 85, 150);
    border-radius: 10%;
    align-items: center;
    
}
#startButton{
    height: 50px;
    width: 150px;
    background-color: rgb(68, 36, 49);
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 10%;
    font-size: inherit;
    font-family: cursive;

}

#game{
    height: 250px;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: end;
    align-items: flex-end;
}   
#score{
    text-align: center;
}
#status{
    text-align: center;
}
#start{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}

#startButton:hover{
    background-color: aliceblue;
    color: rgb(68, 36, 49);
    border-color: rgb(68, 36, 49);
}
#statusDiv{
    
    font-size: larger;
    position: relative;
    top: 10px;
    font-family: cursive;
}
